<main class="container">
  <div class="outside-box">
    <div id="genre-container">
      {{#each genres as |genre|}}
        <div class="genre-box" data-genre="{{ genre }}">
          <h3>{{ genre }}</h3>
        </div>
      {{/each}}
    </div>
    <a id="ready-btn" href="javascript:void(0)">Ready</a>
  </div>
</main>

<script>

/*Lo malo es que si alguien cambia el dataset desde el inspector y clickea ready, inserta en su documento un género que no es válido*/

const boxes = document.getElementsByClassName("genre-box");
const boxesArr = Array.from(boxes);

boxesArr.forEach(box => {
  box.addEventListener("click", () => {
    box.classList.toggle("active-genre");
  });
});

document.getElementById("ready-btn").addEventListener("click", () => {
  let userGenres = [];
  const chosenGenres = document.getElementsByClassName("active-genre");
  const genresArr = Array.from(chosenGenres);

  genresArr.forEach(genre => {
    userGenres.push(genre.getAttribute("data-genre"));
  });

  //chequeo que haya elegido al menos un género
  if (userGenres.length > 0) {
    sendUserGenres(userGenres);
    //cambiar el estilo del color del botón "Ready"        
  } else {
    alert("eliga por lo menos un genero")
  }
});

//Realiza post Ajax a "/genres" enviando el array que contiene los géneros elegidos por el user
function sendUserGenres(Arr) {
  const genresBody = JSON.stringify(Arr);
  const xhr = new XMLHttpRequest();

  xhr.onload = function () {
    const result = JSON.parse(this.responseText);
  
  // El post a genres responde con un booleano, y dependiendo ese dato redirijo a otro endpoint
    if (result) {
      window.location.href = "/home";
    } else {
      window.location.href ="/error";
    }
  }

  xhr.open("POST", "/genres");
  xhr.setRequestHeader("Content-Type", "application/json");

  xhr.send(genresBody);
}




  /*
  una función que haga un for de todos los botones, o divs. Dentro de ese for hacer un eventListener
  que al hacer click haga un push a un array vacío que contiene todos los géneros elegidos por el user. Si hace click más de una vez lo saco del array
  
  En endpoint home validar que 
  */ 
</script>