<main class="genres-container">
  <div class="outside-box">
    <div id="genre-container">
      {{#each genres as |genre|}}
        <div class="genre-box" data-genre="{{ genre }}">
          <h3>{{ genre }}</h3>
        </div>
      {{/each}}
    </div>
    <a id="ready-btn" href="javascript:void(0)">Ready</a>
  </div>
</main>

<script src="script/genres.js"></script>