<main class="container">
  <section class="showcase">
    <div class="left-side">
      <a id="join-btn" href="/register">JOIN</a>
    </div>
    <div class="right-side">
      <h1>Demusic</h1>
      <h2>Bienvenido</h2>
    </div>
  </section>
  <section class="explore">
    <a href="/home">Explora</a>
  </section>
</main>