<main class="container">
  <section class="showcase">
    <div class="left-side">
      <a id="join-btn" href="/register">JOIN</a>
    </div>
    <div class="right-side">
      <h1>Welcome to<br>Demusic</h1>
    </div>
  </section>
  <section class="explore">
    <a href="/home">Explore</a>
  </section>
</main>