<main class="upload-container"> 
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="file-select">  
      <h2>Share your songs</h2>
      <button type="button" id="upload-song">UPLOAD</button>
      <input type="file" name="newSong" id="new-song" accept="audio/mp3" multiple required>
      <p>Only .mp3 files are allowed. If you need to change the extension, you can do it <a href="https://audio.online-convert.com/es/convertir-a-mp3" target="_blank">here</a></p>
    </div>  
    <div class="new-song-info">
    </div>
  </form>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  const genres = "{{genres}}".split(","); // guardo array de géneros que recibo del back y los paso al script, para crear select
</script>
<script src="script/upload.js"></script>
