* {
  margin:0;
  padding:0;
}

body {
  background-color: #e4cfcf;
  font-family: 'Noto Sans', sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 90%;
  margin:0 auto;
  padding-bottom:3em;
}

.disabled {
  display:none;
}

button {
  cursor:pointer;
}

/* landing */

h1{
  margin-top:1em;
}
.landing-header {
  display: flex;
  justify-content: space-between;
  padding:1em;
}

.landing-header nav {
  margin-right:20%;
}

.landing-header ul{
  display: flex;
} 

.landing-header ul li a {
  display:inline-block;
  margin-left:35px;
}

.landing-header a {
  padding:5px 10px;
}

.showcase {
  display: flex;
  height:60vh;
}

.left-side {
  width: 50%;
  align-self: center;
  text-align: center;
}

.right-side {
  width: 50%;
  align-self: center;
  text-align: center;
}

.explore {
  text-align: center;
}

#join-btn {
  display: inline-block;
  background-color:#233f40;  
  padding:10px 30px;
  color:#fff;
  text-decoration: none;
}

a {
  text-decoration:none;
}

/*Forms*/

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-color: #233f40;
  color:#fff;
  top: 5vh;
  padding: 50px;
}

.form input {
  margin-bottom:2em;
}

.form input[type="submit"] {
  margin-bottom:0;
  margin-top:2em;
  padding:5px 0;
  cursor:pointer;
}

.close-btn {
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
}

.landing-header label{
  margin-bottom:15px;
}

.landing-header input {
  margin-bottom: 25px;
}

.landing-header input[type="submit"] {
  margin-top: 40px;
  margin-bottom: 0;
  position: relative;
}

/* home */

.home-header {
  display:flex;
}

.home-nav{
  width: 90%;
  height: 60px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header-left{
  display: flex;
}

.header-left a:first-of-type {
  margin-right: 50px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-middle{
  display: flex;
  align-items: center;
}

.header-middle input{
  width: 300px;
  padding:4px 10px;
  margin:0 70px;
}


.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-right img {
  width: 50px;
  height:50px;
  border-radius: 50%;
}

.header-right a{
  margin-left: 30px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-profile img{
  margin-right: 10px;
}

/* PLAYER */

#player {
  position:fixed;
  bottom:0;
  width: 100%;
  text-align:center;
  padding:0.5em;
  background: #233f40;  
}

.sliders {
  display: flex;
  justify-content: center;
  height:22px;
}

#track-bar {
  position:relative;
  width: 600px;
  height: 8px;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}

#track-progress {
  height: 8px;
  width:0%;
  background-color: #0075ff;
  border-radius: 10px;
}

#track-actual-time {
  color:#fff;
  position: absolute;
  top: -7px;
  left: -53px;
}
#track-full-time {
  color:#fff;
  position: absolute;
  top: -7px;
  left: 613px;
}

.volume-slider {
  margin-left: 515px;
  position: absolute;
  height: 8px;
  display: flex;
}

.volume-slider::before{
  background-image: url(../img/icons/speaker.png);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  position: relative;
  top: -4px;
  right: 10px;
  width: 20px;
  height: 16px;
  content: "";
}

.track-info {
  margin-left:2em;
}

.track-length {
  margin-top:2em;
}

/* songs */

.track-wrapper,
.artist-wrapper,
.album-wrapper 
{
  outline: solid 1px #233f40;
  border:solid 2px transparent;
  cursor: pointer;
  padding: 1em;
  background-color: #d4d4d4;
  display:flex;
  width: 80%;
  margin: 50px auto;
  box-sizing: border-box;
  transition: border 0.1s;
}
/* f144 */
.track-wrapper:hover,
.artist-wrapper:hover,
.album-wrapper:hover {
  outline:solid 0px transparent;
  border:solid 2px #233f40;
}

.track-img-container {
  position:relative;
}

.track-wrapper:hover img{
  opacity: 0.6;
}

.track-wrapper:hover .track-img-container::before {
  font-family: "Font Awesome 5 Free";
  content:'\f144';
  font-weight: 600;
  position:absolute;
  color:#0075ff;
  left: 32px;
  top: 41px;
  transform: scale(2.5);
  z-index:1;
}

.current-track-img-container {
  position: relative;
}

.track-wrapper img {
  max-width: 80px;
}

.playing {
  background-color: #60a4a7ab;
}

.playing .current-track-img-container::before{
  font-family: "Font Awesome 5 Free";
  content:'\f28b';
  position:absolute;
  font-weight:600;
  color: #233f40;
  left: 32px;
  transform: scale(2.5);
  top: 41px;
  z-index:1;
}

.paused {
  background-color: #60a4a7ab;
}

.paused .current-track-img-container::before{
  font-family: "Font Awesome 5 Free";
  content:'\f144';
  font-weight: 600;
  color: #233f40;
  position:absolute;
  left: 32px;
  transform: scale(2.5);
  top: 41px;
  z-index:1;
}

.current-track-img-container img {
  opacity:0.6;
}

/* Genres view*/

#genre-container {
  margin:2em 0;
}

.active-genre {
  background-color:rgba(194, 79, 135, 0.5)
}

/* Upload view*/

 .upload-container form {
  text-align:center;
  margin-top:5em;
}

.upload-container input[type="submit"] {
  margin-top: 40px;
  margin-bottom: 0;
  position: relative;
  margin-left: 5em;
  padding: 6px 25px;
}

.file-select {
  margin-bottom:2em;
}

.new-song-img {
  margin-bottom:2em; 
}

select {
  height: 200px;
  width: 150px;
  text-align: center;
}

.new-song-info label {
  display:block;
  margin-bottom:0.5em;
}

.upload-form-group {
  margin:3em 0;
}

.upload-form-group input {
  width:35%;
  padding:3px 10px;
}

/* userProfile view */
.user-info {
  display:flex;
  margin-top:3em;
}

.user-presentation {
  display: flex;
  width: 75%;
}

.user-info img {
  max-width: 240px;
}

.album-pic img {
  max-width:240px;
}

.user-bio {
  margin-left:2em;
}

.user-info .edit {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-info .edit a {
  font-size: 14px;
  margin-top:1em;
}

.user-bio h3 {
  font-size:36px;
  margin-bottom:4em;
}

.user-bio p{
  font-size: 24px;
}


