* {
  margin:0;
  padding:0;
}

body {
  background-color: #e4cfcf;
  font-family: 'Noto Sans', sans-serif;
}

li{
  list-style: none;
}

.container {
  max-width: 90%;
  margin:0 auto;
  padding-bottom:3em;
}

.disabled {
  display:none;
}

button {
  cursor:pointer;
}

/* landing */

h1{
  margin-top:1em;
}
.landing-header {
  display: flex;
  justify-content: space-between;
  padding:1em;
}

.landing-header nav {
  margin-right:20%;
}

.landing-header ul{
  display: flex;
} 

.landing-header ul li a {
  display:inline-block;
  margin-left:35px;
}

.landing-header a {
  padding:5px 10px;
}

.showcase {
  display: flex;
  height:60vh;
}

.left-side {
  width: 50%;
  align-self: center;
  text-align: center;
}

.right-side {
  width: 50%;
  align-self: center;
  text-align: center;
}

.explore {
  text-align: center;
}

#join-btn {
  display: inline-block;
  background-color:#233f40;  
  padding:10px 30px;
  color:#fff;
  text-decoration: none;
}

a {
  text-decoration:none;
}

/*Forms*/

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background-color: burlywood;
  top: 5vh;
  padding: 50px;
}

.close-btn {
  position: absolute;
  right: 16px;
  top: 8px;
  cursor: pointer;
}

.landing-header label{
  margin-bottom:15px;
}

.landing-header input {
  margin-bottom: 25px;
}

.landing-header input[type="submit"] {
  margin-top: 40px;
  margin-bottom: 0;
  position: relative;
}

/* home */

.home-header {
  display:flex;
}

.home-nav{
  width: 90%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header-left{
  display: flex;
  margin-right: 80px;
}

.header-left a {
  
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-profile img {

}

#logo {
  
} 

.header-middle{
  display: flex;
  align-items: center;
}

.header-middle input{
width: 300px;
padding:4px 10px;
margin:0 70px;
}

.header-middle a {
  
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-right img {
  max-width: 50px;
  border-radius: 50%;
}

.header-right a{
  margin-left: 30px;
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-profile img{
  margin-right: 10px;
}

/* PLAYER */

#player {
  position:fixed;
  bottom:0;
  width: 100%;
  text-align:center;
  padding:0.5em;
  background: #233f40;  
}

.sliders {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
}

#track-bar {
  width: 700px;
  height: 8px;
  display: block;
  margin-left: 24%;
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
}

#track-progress {
  height: 8px;
  width:0%;
  background-color: crimson;
  border-radius: 10px;
}

.volume-slider {
  margin-left: 75px;
  height: 8px;
  display: flex;
}

.track-info {
  margin-left:2em;
}

.track-length {
  margin-top:2em;
}

/* songs */

.track-wrapper {
  border: solid 1px;
  cursor: pointer;
  padding: 1em;
  background-color: #d4d4d4;
  display:flex;
  width: 80%;
  margin: 0 auto;
}

.track-li {
  margin: 50px 0px;
}

.track-wrapper img {
  max-width: 80px;
}

#track-current-time {
  color:#fff;
}

/*genres view*/

.active-genre{
  background-color:rgba(194, 79, 135, 0.5)
}

 .upload-container form{
  text-align:center;
  margin-top:5em;
}

.upload-container input[type="submit"] {
  margin-top: 40px;
    margin-bottom: 0;
    position: relative;
    margin-left: 5em;
    padding: 6px 25px;
}

.file-select {
  margin-bottom:2em;
}

.new-song-img {
  margin-bottom:2em;
}

select {
  height: 200px;
  width: 150px;
  text-align: center;
}

.user-info {
  display:flex;
  margin-top:3em;
}

.user-info img {
  max-width: 240px;
}

.album-pic img {
  max-width:240px;
}

.user-bio {
  margin-left:2em;
}

.user-bio h3 {
  font-size:36px;
  margin-bottom:4em;
}

.user-bio p{
  font-size: 24px;
}


