<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="landing-header">
        <div class="logo">
          <a href="/"><img src="img/logo.svg"></a>
        </div>
        <nav>
          <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  {{{body}}}
</body>
</html>