<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="container landing-header">
      <a id="logo" href="/">DEMusic</a>
      <nav>
        <ul>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {{{body}}}
</body>
</html>