<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="css/style.css">
<body>
  <header>
    <div class="container landing-header">
      <nav>
        <a href="/home">DEMusic</a>    
        <a href="/library">Library</a>
        <input type="text" placeholder="Search songs, artist, ...">
        <a href="/upload">Upload</a>
        <img src="{{user.profilePic}}">
        <a href="/profile">{{user.username}}</a></li>
      </nav>
    </div>
  </header>
  {{{body}}}
</body>
</html>