<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container landing-header">
      <p>LOGO</p>
    </div>
    <nav>
      <ul>
        <li>Librería</li>
        <li>Buscador</li>
        <li>Subir</li>
        <li>Colaborar</li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</body>
</html>