<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
      <div class="container landing-header">
        <nav>
          <a href="/home">DEMusic</a>    
          <a href="/login">Library</a>
          <input type="text" placeholder="Search songs, artist, ...">
          <a href="/login">Upload</a>
          <a href="/login">Log In</a>
          <a href="/register">Register</a>
      </nav>
    </div>
  </header>
  {{{body}}}
  
<div id="player" data-id="" class="container">
  <div id="track-bar">
    <div id="track-progress">
    </div>
  </div>

  <button id="previous-btn" onclick="playPrevious()">PREVIOUS</button>
  <button id="stop-btn" onclick="stop()">STOP</button>
  <button id="play-btn" onclick="playPause()">PLAY</button>
  <button id="next-btn" onclick="playNext()">NEXT</button>
  <p id="track-current-time"></p>
</div>

<script src="script/player.js"></script>
</body>
</html>