<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <header>
      <div class="container landing-header">
        <nav>
          <a href="/home">DEMusic</a>    
          <a href="/login">Library</a>
          <input type="text" placeholder="Search songs, artist, ...">
          <a href="/login">Upload</a>
          <a href="/login">Log In</a>
          <a href="/register">Register</a>
      </nav>
    </div>
  </header>
  {{{body}}}
</body>
</html>